<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Cover Manager - Inicio')"></head>

<body class="d-flex flex-column h-100">
<!-- Encabezado -->
<header th:replace="fragments/header :: header"></header>

<!-- Contenido principal -->
<main class="flex-shrink-0">
    <div class="container">
        <h1 class="mt-5">Cover Manager</h1>
        <p class="lead">Bienvenido a la aplicación para gestionar reservas en restaurantes.</p>
    </div>
</main>

<!-- Pie de página -->
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>
